[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
tblib = "*"
flake8-django = "*"
isort = "*"
pre-commit = "*"

[packages]
django = "~=3.0"
psycopg2-binary = "==2.8.3"
psycopg2 = "==2.8.3"
django-rest-framework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
whitenoise = "*"
drfdocs = "*"
pyyaml = "*"
uritemplate = "*"
django-filter = "*"

[requires]
python_version = "3.8"
