[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
tblib = "*"

[packages]
django = "==2.2.4"
psycopg2-binary = "==2.8.3"
psycopg2 = "==2.8.3"
django-rest-framework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
whitenoise = "*"
drfdocs = "*"

[requires]
python_version = "3.7"
